.download {
  background-color: $bg-header;
}

.download__container {
  margin: 0 auto;
  padding: 27px 20px 18px 20px;
  max-width: 280px;
}

.download__main-btn {
  display: block;
  margin-bottom: 32px;
  padding: 16px 35px 17px 35px;
  color: $text-white;
  white-space: nowrap;
  text-decoration: none;
  border: 3px solid $bg-white;
}

.download__btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download__btn {
  display: block;
  font-size: 0;
  padding: 0 17px;

  &--iphone {
    width: 47px;
    height: 64px;
    margin-left: 34px;
    background-image: url("../img/logo-apple.svg");
    background-repeat: no-repeat;
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
    background-repeat: no-repeat;
  }

  &--win {
    width: 44px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
    background-repeat: no-repeat;
  }
}

.download__description {
  @include text($open-l, 14px, 24px, $text-white);
  text-align: center;
}
