.image-tool {
  background-color: $bg-gray;
}

.image-tool__container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
}

.image-tool__btn {
  display: none;
}

.image-tool__filters {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 37px;
  margin-left: 36px;
  min-height: 44px;
  font-size: 0;
}

.image-tool__filter {
  display: block;
  padding: 0 37px;

  &--framing {
    width: 44px;
    height: 44px;
    background-image: url("../img/icon-editor-crop.svg");
    background-repeat: no-repeat;
    background-size: 44px 44px;
  }

  &--degradation {
    width: 48px;
    height: 46px;
    background-image: url("../img/icon-editor-fill.svg");
    background-repeat: no-repeat;
    background-size: 48px 43px;
    background-position: bottom left;
  }

  &--contrast {
    width: 32px;
    height: 40px;
    background-image: url("../img/icon-editor-contrast.svg");
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: bottom left;
  }
}

.image-tool__bar {
  display: none;
  position: relative;
  margin: 0 19px 35px 19px;
  width: 240px;
  height: 2px;
  background-color: $bg-nav;
}

.image-tool__toggle {
  position: absolute;
  top: -6px;
  right: 34px;
  width: 14px;
  height: 14px;
  background-image: url("../img/icon-editor-diagram-fill.svg");
  background-color: $bg-white;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}

#image-tool-btn-1:checked~.image-tool__bar-framing {
  display: block;
}

#image-tool-btn-2:checked~.image-tool__bar-degradation {
  display: block;
}

#image-tool-btn-3:checked~.image-tool__bar-contrast {
  display: block;
}

.image-tool__btns {
  margin: 0 -20px;
  padding-top: 37px;
  border-top: 1px solid #dddfe0;
}

.image-tool__submit-btn {
  margin: 0 20px;
  padding: 16px 85px 17px 85px;
  background-color: $bg-gray;
  color: $text-pink;
}

.image-tool__reset-btn {
  margin: 12px 20px 20px 20px;
  padding: 16px 100px 17px 100px;
  border: 3px solid #dddfe0;
  background-color: $bg-gray;
  color: #dddfe0;
}
