.journey-form {
  background-color: $bg-white;
}

.journey-form__acquaintance {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.journey-form__condition {
  margin: 0;
  margin-top: 46px;
  margin-bottom: 36px;
  margin-left: 1px;
  @include text($open, 14px, 30px, $text-gray);
  text-align: center;
}

.journey-form__acquaintance-signature {
  width: 100%;
  margin-left: 21px;
  @include text($open, 14px, 30px, $text-pink);
  text-transform: uppercase;
}

.journey-form__acquaintance-input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 17px;

  &[placeholder] {
    padding: 15px 15px 15px 21px;
    @include text($open, 18px, 30px, $text-gray);
  }
}

.journey-form__achievements {
  margin-top: 25px;
  padding-bottom: 47px;

  background-color: $bg-gray;
}

.journey-form__achievements-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.journey-form__achievements-title {
  margin-bottom: 45px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 38px;
  @include text($open, 14px, 18px, $text-pink);
  text-align: center;
  text-transform: uppercase;
}

.journey-form__achievement {
  display: block;
  position: relative;
  margin-bottom: 52.5px;
  padding-left: 69px;
  @include text($open, 18px, 30px, $text-gray);

  &:last-child {
    margin-bottom: 0;
  }
}

.journey-form__checkbox {
  display: none;
}

.journey-form__indicator-checkbox {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -6px;
  left: 0;
  background-color: $bg-white;
  border: 2px solid $table-b;
  cursor: pointer;
}

.journey-form__checkbox:checked + .journey-form__indicator-checkbox::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 9px;
  z-index: 10;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-yes.svg")
}

.journey-form__contacts {
  margin: 0 auto;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.journey-form__application {
  margin-top: 25px;
  padding-bottom: 47px;
  background-color: $bg-gray;
}

.journey-form__application-container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.journey-form__application-title {
  margin-bottom: 41px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 38px;
  @include text($open, 14px, 18px, $text-pink);
  text-align: center;
  text-transform: uppercase;
}

.journey-form__application-wrapper {
  display: block;
  position: relative;
  margin-bottom: 46px;
  padding-left: 69px;
  @include text($open, 18px, 30px, $text-gray);

  &:last-child {
    margin-bottom: 0;
  }
}

.journey-form__radio {
  display: none;
}

.journey-form__indicator-radio {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: -6px;
  left: 0;
  background-color: $bg-white;
  border-radius: 50%;
  border: 2px solid $table-b;
  cursor: pointer;
}

.journey-form__radio:checked + .journey-form__indicator-radio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 36px;
  height: 36px;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

.journey-form__final {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.journey-form__final-title {
  margin-bottom: 11px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 16px;
  @include text($open, 14px, 30px, $text-pink);
  text-align: center;
  text-transform: uppercase;
}

.journey-form__final-review {
  box-sizing: border-box;
  min-height: 200px;
  width: 100%;
  margin-bottom: 13px;
  resize: none;
  outline: none;

  &[placeholder] {
    padding: 15px 15px 15px 21px;
    @include text($open, 18px, 30px, $text-gray);
  }
}

.journey-form__final-container {
  margin: 0 auto;
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.journey-form__submit-btn {
  margin-bottom: 36px;
  padding: 16px 45px 16px 46px;
  outline: none;
  border: none;
  @include text($open-b, 18px, 30px, $text-white);
  text-transform: uppercase;
  background-color: $bg-btn;
}

.journey-form__necessarily {
  margin: 0;
  margin-bottom: 55px;
  @include text($open, 14px, 30px, $text-gray);
  text-transform: uppercase;
  text-align: center;
}

.journey-form__star {
  color: $text-pink;
}
