.main-nav {
  position: relative;
  background-color: rgba(0,0,0,0.3);
}

.main-nav__opener {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 22px 20px;
  max-width: 320px;
  margin: 0 auto;
}

.main-nav__logo--tablet {
  display: none;
}

.main-nav__open {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 22px 20px;
  max-width: 320px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

.main-nav--closed .main-nav__toggle {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: $bg-white;
    box-shadow: 0 10px 0 0 $bg-white,
                0 20px 0 0 $bg-white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 1px;
    width: 48px;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 15px 0 0 rgba(255,255,255,0.3);
  }
}

.main-nav--opened {
  background-color: $bg-nav;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: -4px;
    width: 30px;
    height: 5px;
    background-color: $bg-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed .main-nav__items {
    display: none;
}

.main-nav--nojs {
  background-color: $bg-nav;

  .main-nav__toggle {
    display: none;
  }

  .main-nav__items {
    display: block;
  }
}

.main-nav__items {
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  @include text($open-b, 18px, 32px, $text-white);
  list-style: none;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__item {
  padding: 18px 20px 13px 20px;
  background-color: $bg-nav;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  text-decoration: none;

  a:link {
    @include text($open-b, 18px, 32px, $text-white);
    text-decoration: none;
  }

  a:visited {
    @include text($open-b, 18px, 32px, $text-white);
    text-decoration: none;
  }
}

@media (min-width: 660px) {
  .main-nav__opener {
    max-width: 660px;
    padding: 27px 20px 40px 20px;
  }

  .main-nav__open {
    max-width: 660px;
    padding: 27px 20px 40px 20px;
  }

  .main-nav__logo {

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  .main-nav__toggle {
    margin-top: 20px;
  }
}

 @media (min-width: 960px) {
  .main-nav__container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 960px;
    padding: 27px 10px 32px 10px;
    margin: 0 auto;
  }

  .main-nav__opener {
    display: block;
    padding: 0;
    max-width: 940px;
    width: 150px;
    margin: 0;
  }

  .main-nav__open {
    display: block;
    padding: 0;
    max-width: 940px;
    width: 150px;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    background-color: rgba(0,0,0,0.3);

    .main-nav__items {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;
      width: auto;
      @include text($open, 18px, 18px, $text-white);
      text-transform: none;
    }
  }

  .main-nav__item {
    padding: 18px 0px 13px 79px;
    background-color: transparent;
    border-top: none;
    border-bottom: none;

    a:link {
      @include text($open, 18px, 18px, $text-white);
    }

    a:visited {
      @include text($open, 18px, 18px, $text-white);
    }
  }

 }
