.map {
  background-color: $bg-white;
}

.map__container {
  position: relative;
  max-width: 320px;
  height: 200px;
  margin: auto auto;
  background-image: url(../img/bg-map-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: left bottom;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 10;
    background-image: url(../img/bg-triangle-white-footer.svg);
    background-repeat: no-repeat;
    background-size: 320px auto;
  }
}

.map__marker {
  position: absolute;
  width: 36px;
  height: 35px;
  bottom: 69px;
  left: 142px;
  background-image: url(../img/icon-map-marker.svg);
  background-repeat: no-repeat;
  background-size: 36px 35px;
}

@media (min-width: 660px) {
  .map__container {
    max-width: 700px;
    height: 373px;
    margin: 0 auto;
    background-image: url(../my/map-tablet.jpg);
    background-position: left -348px;

    &::before {
      left: 20px;
      width: 660px;
      background-size: 660px auto;
    }
  }

  .map__marker {
    bottom: 39%;
    left: 47.5%;
  }
}

@media (min-width: 960px) {
  .map__container {
    max-width: 1200px;
    width: auto;
    height: 500px;
    margin: 0 auto;
    background-image: url(../my/map-desc.jpg);
    background-position: left -280px;

    &::before {
      left: 0;
      width: 100%;
      background-size: 100%;
    }
  }

  .map__marker {
    top: 52.5%;
    left: 48.5%;
  }
}
