.page-footer {
  background-color: $bg-white;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
}

.page-footer__logo {
  display: block;
  margin-top: 40px;
  margin-left: 66px;
}

.page-footer__copyright {
  margin-bottom: 40px;
}

.page-footer__copyright-text {
  display: inline-block;
  vertical-align: top;
  margin-top: 46px;
  margin-left: 74px;
  @include text($open, 14px, 18px, $text-gray)
}

.page-footer__logo-academy {
  margin-top: 40px;
  margin-left: 8px;
}
