.page-header {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat top center $bg-header;
  margin-top: -68px;

  &--index {
    height: 462px;
  }

  &--other {
    min-height: 238px;
    margin-top: -71px;
  }
}

.page-header__container {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;

  &::after {
    content: "";
    position: absolute;
    top: 176px;
    left: 0;
    width: 320px;
    height: 286px;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: 660px) {
  .page-header {
    background: url("../my/back-tablet@1x.jpg") top center / cover no-repeat $bg-header;
    margin-top: -112px;

    &--index {
      height: 730px;
    }

    &--other {
    min-height: 442px;
    margin-top: -112px;
    }
  }

  .page-header__container {
    max-width: 660px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 50%;
      width: 700px;
      height: 545px;
      background-image: url("../my/iphone-6 copy.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 960px) {
  .page-header {
    background: url("../my/back-desktop.jpg") top center / cover no-repeat $bg-header;
    margin-top: -118px;

    &--index {
      height: 853px;
    }

    &--other {
      min-height: 395px;
      margin-top: -118px;
    }
  }

  .page-header__container {
    max-width: 940px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;

    &::after {
      top: 209px;
      left: 26px;
      width: 940px;
      height: 645px;
      background-image: url("../my/iphone-6.png");
      background-position: bottom left;
    }
  }
}
