.price-list {
  position: relative;
  background-color: $bg-gray;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 660px;
    height: 100%;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: 660px auto;
  }
}

.price-list__container {
  margin: 0 auto;
  padding-top: 93px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
}

.price-list-btn {
  display: none;
}

.price-list__conditions {
  display: none;
}

.price-list__slide {
  display: none;
  margin-left: -20px;
  margin-right: -20px;
  border-spacing: 0;
}

.price-list__empty-header {
  width: 20px;
  font-size: 0;
  background-color: $bg-nav;
}

.price-list__package {
  position: relative;
  width: 145px;
  padding: 17px 68px 20px 68px;
  text-align: center;
  background-color: $bg-nav;
  border-right: 2px solid $table-b;
  border-left: 2px solid $table-b;
}

.price-list__package-title {
  @include text($open-b, 18px, 30px, $text-white);
  text-transform: uppercase;
}

.price-list__package-price {
  margin: 0;
  margin-top: 2px;
  @include text($open-l, 24px, 30px, $text-white);
}

.price-list__package-hit {
  position: absolute;
  top: 12px;
  left: 9px;
  @include text($open-b, 14px, 30px, $text-white);
  text-transform: uppercase;
  transform: rotate(-45deg);

  &:before {
    content: "";
    position: absolute;
    top: -7px;
    left: -21px;
    width: 74px;
    height: 73px;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-size: 74px 73px;
    z-index: -10;
    transform: rotate(45deg);
  }
}

.price-list__empty-main {
  width: 20px;
  font-size: 0;
  background-color: $bg-white;
  border-bottom: 2px solid $table-b;
}

.price-list__condition {
  padding: 16px 17px 14px 20px;
  @include text($open, 14px, 30px, $text-gray);
  text-transform: uppercase;
  background-color: $bg-white;
  border-left: 2px solid $table-b;
  border-bottom: 2px solid $table-b;

  span {
    display: block;
    width: 140px;
  }
}

.price-list__icon {
  padding: 16px 7px 14px 22px;
  background-color: $bg-white;
  border-right: 2px solid $table-b;
  border-bottom: 2px solid $table-b;
}

.price-list__logo {
  display: block;
  padding-top: 3px;
}

#price-list-btn-1:checked~.price-list__slide-1 {
  display: block;
}

#price-list-btn-2:checked~.price-list__slide-2 {
  display: block;
}

#price-list-btn-3:checked~.price-list__slide-3 {
  display: block;
}

.price-list__slider-controls {
  position: relative;
  text-align: center;
  margin-top: 44px;
  padding-bottom: 39px;
}

.price-list__slider-control {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  vertical-align: top;
  background-color: #bec2c7;
  border-radius: 50%;

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: 660px) {
  .price-list {
    min-width: 660px;

    &::before {
      width: 960px;
      background-size: 960px auto;
    }
  }

  .price-list__container {
    display: flex;
    margin-bottom: 0;
    padding-top: 90px;
    padding-right: 20px;
    padding-bottom: 68px;
    max-width: 620px;
  }

  .price-list__slider-controls {
    display: none;
  }

  .price-list__conditions {
    display: block;
    width: 160px;
    margin-left: 1px;
    box-sizing: border-box;
    border-spacing: 0;
    border-bottom: 2px solid $table-b;
  }

  .price-list__condition-empty {
    width: 160px;
    height: 77px;
    visibility: hidden;
  }

  .price-list__condition-full {
    width: 160px;
    padding: 7px 5px 9px 14px;
    @include text($open, 14px, 30px, $text-gray);
    background-color: $bg-white;
    border-left: 2px solid $table-b;
    border-right: 2px solid $table-b;
    border-top: 2px solid $table-b;
  }

  .price-list__slide {
    display: block;
    width: 155px;
    box-sizing: border-box;
    margin: 0;
  }

  .price-list__empty-header, .price-list__empty-main {
    display: none;
  }

  .price-list__condition {
    display: none;
  }

  .price-list__package {
    position: relative;
    width: 155px;
    box-sizing: border-box;
    padding: 11px 0 11px 0;
    border-left: none;
    border-right: 2px solid $bg-gray;
  }

  .price-list__slide-1 .price-list__package {
    border-left: 2px solid $bg-nav;
    box-shadow: -1px 0 0 $bg-nav;
  }

  .price-list__slide-3 .price-list__package {
    border-right: 2px solid $bg-nav;
  }

  .price-list__package-title {
    @include text($open-b, 16px, 30px, $text-white);
  }

  .price-list__package-price {
    margin: 0;
    @include text($open-l, 18px, 30px, $text-white);
  }

  .price-list__icon {
    height: 45px;
    padding: 0;
    border-right: 2px solid $table-b;
    border-bottom: 2px solid $table-b;
  }

  .price-list__logo {
    margin-left: 63px;
  }
}

@media (min-width: 960px) {
  .price-list {

    &::before {
      width: 100%;
      background-size: 100%;
    }
  }

  .price-list__container {
    padding-bottom: 94px;
    padding-top: 148px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 940px;
  }

  .price-list__conditions {
    width: 236px;
    margin-left: 0;
  }

  .price-list__condition-empty {
    width: 236px;
    height: 95px;
  }

  .price-list__condition-full {
    width: 236px;
    padding: 15px 5px 16px 21px;
    @include text($open, 18px, 30px, $text-gray);
  }

  .price-list__slide {
    display: block;
    width: 236px;
    box-sizing: border-box;
    margin: 0;
  }

  .price-list__package {
    position: relative;
    width: 236px;
    box-sizing: border-box;
    padding: 16px 0 20px 0;
    border-left: none;
    border-right: 2px solid $bg-gray;
  }

  .price-list__package-title {
    @include text($open-b, 18px, 30px, $text-white);
  }

  .price-list__package-price {
    margin-top: 2px;
    @include text($open-l, 24px, 30px, $text-white);
  }

  .price-list__icon {
    height: 60px;
    padding: 0;
  }

  .price-list__logo {
    margin-left: 103px;
  }
}
